<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doc</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
        <div class="col-12 bg-dark text-center text-light py-2">
            <h4>Variables</h4>
        </div>

        <div class="row mt-3">
            <div class="col-3">
                <a href="/" class="btn btn-secondary">Temperatura</a>
            </div>
            <div class="col-3">
                <a href="/humedad" class="btn btn-secondary">Humedad</a>
            </div>
            <div class="col-3">
                <a href="/nivel" class="btn btn-secondary">Nivel</a>
            </div>
        </div>
           

        <div class="row">
            <div class="col-5 mt-3">
                <table class="table table-striped text-center">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <th><%=variable%></th>
                        </tr>

                        <% for(let i=0; i<humedad.length; i++) {%>
                            <tr>
                                <td> <%=i%> </td>
                                <td> <%=humedad[i]%></td>
                            </tr>
                        <%}%>
                    </tbody>
                </table>
            </div>
        </div>
        
        
    </div>
    
</body>
</html>